<div class="contracts-index">
  <div class="row">
    <div class="col-sm-12">
      <h1>Available Options</h1>
      <% if @contracts.exists? -%>
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <td>Seller</td>
            <td>Amount</td>
            <td>Price</td>
            <td>End Date</td>
            <td>Status</td>
          </tr>
        </thead>
        <tbody>
          <% @contracts.each do |c| -%>
            <tr>
              <td><%= c.seller_id == current_user.id ? 'You' : c.seller.fullname %></td>
              <td><%= number_to_currency(c.amount) %></td>
              <td><%= number_to_currency(c.price) %></td>
              <td><%= c.end_time %></td>
              <% if c.accepted? %>
                <td><span class="label label-success">Bid Accepted</span></td>
              <% elsif c.seller_id != current_user.id && (c.listed? || c.pending?) && Bid.where(bidder_id: current_user.id, contract_id: c.id).empty? %> 
                <td><i><%= link_to "Bid Now", bids_path(bid: {bidder_id: current_user.id, contract_id: c.id}), method: :post %></i></td>
              <% elsif (c.seller_id == current_user.id && c.pending?) || Bid.where(bidder_id: current_user.id, contract_id: c.id).exists? %>
                <td><span class="label label-warning">Bid Pending</span></td>
              <% elsif c.seller_id == current_user.id && c.listed? %>
                <td><span class="label label-danger">No Bids Yet</span></td>
              <% end %>
            </tr>
          <% end %>

        </tbody>
      </table>
      <% end %>
    </div>
  </div>
</div>