<div class="contracts-index">
  <div class="row">
    <div class="col-sm-12">
      <h1>Available Options</h1>
      <% if @contracts.exists? -%>
        <ul>
          <% @contracts.each do |c| -%>
            <li>
              <%= User.find(c.seller_id).fullname %> is offering <%= c.amount %> for <%= c.price %> until <%= c.end_time %>
              <% if !c.bids.where(bidder_id: current_user.id).empty? %>
                <i>Bid Pending</i>
              <% elsif c.seller_id != current_user.id %>
                <%= link_to "Bid", bids_path(bid: {bidder_id: current_user.id, contract_id: c.id}), method: :create  %>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>

  <div class='row'>
    <div class="left-timeline col-sm-12">
      <% if @contracts.exists? -%>
        <ul>
          <% @contracts.each do |contract| -%>
            <li>
              <time>
                <span><%= contract.created_at.day %></span>
                <small><%= contract.created_at.strftime('%b') %></small>
              </time>
              <header>
                <h4 class='m0 mt15 mb15'> James uploaded a video. </h4>
                <h4 class='m0 mt15 mb15'> <%= contract.seller.fullname %> is offering <%= number_to_currency(contract.amount) %> for <%= number_to_currency(contract.price) %> until <%= contract.end_time.to_date.to_formatted_s(:long) %></h4>
              </header>
              <p>
                <% if contract.bids.where(bidder: current_user).exists? -%>
                  <%= link_to "Bid", bids_path(bid: {bidder_id: current_user.id, contract_id: contract.id}), class: 'btn btn-primary', method: :post  %>
                <% else -%>
                  <span class="label label-warning">Bid Pending</span>
                <% end %>
              </p>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
